@layer utilities {
  .bg-background {
    background-color: var(--color-background);
  }

  .bg-primary {
    background-color: var(--color-primary);
  }

  .hover\:bg-primary-hover:hover {
    background-color: var(--color-primary-hover);
  }

  .border-outline {
    border-color: var(--color-outline);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .text-outline {
    color: var(--color-outline);
  }

  .gradient-primary-hover::before {
    content: "";
    @apply absolute top-0 -left-full w-full h-full rounded-lg transition-all duration-500 ease-in-out z-[-1];
    background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-hover));
  }

  .hover\:gradient-slide-in:hover::before {
    left: 0;
  }

  .gradient-polygon-shape {
    clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 70%);
    background: linear-gradient(to right, var(--color-primary), var(--color-primary-transparent));
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
